.img-responsive{
    display: block;
    max-width: 80%;
    height: auto;
}
.text-center{
    text-align: center;
}
.center{
    margin: 0 auto;
}
.bar-w2p {
    background-color: #F2385A;
    border-bottom: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.bar-tab .tab-item.active,.bar-tab .tab-item:active {
    color:#36B1BF
}
.layered_content{
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 44px;
    left: 0;
    height: 100%;
    width: 100%;
    background: #E9F1DF;
    z-index: 1;
}
.none{
    display: none;
}
#loader{top:0;background: #E9F1DF url("../img/loader.gif") center center no-repeat;}

