.img-responsive {
    display: block;
    max-width: 80%;
    height: auto;
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.bar-w2p {
    background-color: #515B5E;
    border-bottom: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #2E3233
}

.layered_content {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 44px;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FFFEFC;
    z-index: 1;
}

.none {
    display: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

#loader {
    top: 0;
    background: #E2E3DF url("../img/loading.svg") center center no-repeat;
    background-size: 75px 75px;
}

